bin/
/www
plugin_*
*.zip
/piwik*
log
private
tmp
var
www/tmp/sessions/sess_khu8mo9u257uamj3tilvnbjn92
www/tmp/sessions/sess_tkgsg5vfooiipf35l1iodik9o1
www/tmp/templates_c/%%1F^1FD^1FDAE17A%%LoginLdap.tpl.php
www/tmp/templates_c/%%38^383^383EA889%%header.tpl.php
www/tmp/templates_c/%%69^697^69755D52%%row.tpl.php
www/tmp/templates_c/%%9A^9A3^9A34FA06%%index.tpl.php
www/tmp/templates_c/%%C1^C18^C18D9C58%%footer.tpl.php
www/tmp/templates_c/%%F7^F70^F708E4D1%%menu.tpl.php
www/tmp/templates_c/%%F8^F8B^F8B2718B%%userSettings.tpl.php

